@page
@model Proiect_Bijuterii.Pages.Bijuterii.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bijuterie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bijuterie.Tip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bijuterie.Tip)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bijuterie.Marca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bijuterie.Marca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bijuterie.Pret)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bijuterie.Pret)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Bijuterie.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
